body {
  background: rgba(226, 138, 138, 0.4);
  /* background: ;
  background-image: url("../first_website/images/land.jpg"); */
  font-size: ;
  font-family: "Noto Sans JP", serif;
}
h1:hover {
  color: blue;
}
.tittle1 {
  color: green;
}
h2[class="head2"] {
  color: blueviolet;
}
#img1 {
  height: 100px;
  width: 100px;
  float: left;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 10px;
}
.mail {
  color: red;
}
/* .google-link:link {
  color: steelblue;
}
.google-link:visited {
  color: purple;
} */
.username {
  font-weight: bold;
}
.mydiv {
  border: 5px outset red;
  background-color: seashell;
}
/* li:first-child {
  color: brown;
}
li:last-child {
  color: darkblue;
}
li:nth-child(2) {
  color: darkmagenta;
}
h1 + a {
  color: red;
}
textarea ~ button {
  color: blue;
} */
ul > li {
  color: purple;
}
/* descendent selector */
ul li {
  color: green;
}
.para1 {
  color: rgb(200, 50, 160);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25em;
  font-weight: 400;
}
.italic {
  font-style: italic;
  color: blue;
}
.para2 {
  color: rgb(141, 0, 12);
}
.div-img {
  height: 400px;
  width: 70%;
  background-image: url("../first_website/images/land2.jpg");
  background-size: cover;
  background-color: rgb(104, 219, 37);
  background-position: center;
}
.div-img2 {
  height: 400px;
  width: 70%;
  background: linear-gradient(
    215deg,
    rgb(60, 48, 126),
    rgba(111, 92, 218, 0.2)
  );
}
.div-img3 {
  height: 400px;
  width: 70%;
  background: radial-gradient(circle, red 25%, blue 50%, purple 90%);
}
.fb {
  text-decoration: none;
  float: right;
}
.img4 {
  height: 300px;
  width: 80%;
  border: 5px solid blueviolet;
  padding-right: 10px;
  padding-left: 15px;
  margin: 100px 40px 5px 1px;
}
.tbl {
  display: inline-block;
}
.container {
  background-color: rgb(250, 250, 250);
  margin: 10px;
  height: 300px;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
}
.container-item {
  background: rgb(81, 39, 199);
  font-size: 25px;
  color: white;
  text-align: center;

  width: 70px;
  line-height: 50px;
  margin: 10px;
  border-radius: 10px;
}
.grid-container {
  background-color: white;
  margin: 10px;
  height: 500px;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  /* grid-gap: 300px 150px; */
  /* justify-content: space-around;
  align-content: space-between; */
}
.grid-item {
  color: black;
  font-size: 25px;
  text-align: center;

  width: 70px;
  line-height: 40px;
  margin: 10px;
  border-radius: 10px;
}
.amaterasu-button {
  margin: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: linear-gradient(-90deg, red, blue);
  background-image: url("../first_website/images/e.png");
  background-size: cover;
  background-position: center;
  transition: all 300ms ease-in-out;
}
.amaterasu-button:hover {
  background: linear-gradient(-90deg, rgb(201, 12, 59), rgb(228, 20, 193));
  background-image: url("../first_website/images/a.png");
  background-size: cover;
  background-position: center;
  padding: 30px 40px;
}

.submit-button {
  margin: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: linear-gradient(-90deg, red, blue);
  transition: all 300ms ease-in-out;
  /* transform: translate(50px, 50px); */
  transform: scale(1.5);
  /* transform: rotate(-45deg); */
  /* transform: skewX(45deg); */
}
.submit-button:hover {
  background: linear-gradient(-90deg, rgb(201, 12, 59), rgb(228, 20, 193));
  padding: 30px 40px;
}

#lorem {
  /* animation-name: red-to-black;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
  animation-direction: alternate; */
  animation: red-to-black 4s linear 0s 2 alternate;

  /*for browser support 
  -webkit-animation: red-to-black 4s linear 0s 2 alternate;
  -moz-animation: red-to-black 4s linear 0s 2 alternate;
  -ms-animation: red-to-black 4s linear 0s 2 alternate;
  -o-animation: red-to-black 4s linear 0s 2 alternate; */
}

@keyframes red-to-black {
  0% {
    background: red;
    transform: translate(0px, 0px);
  }
  50% {
    background: yellow;
    transform: translate(10px, 10px);
  }
  100% {
    background: black;
    transform: translate(20px, 20px);
  }
}
